@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}


body{
    padding-top: 30px;
}


input.search{
    max-width: 300px;
    margin-right: 15px;
}


input{
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, .2);
}


.price__discount input{
    height: 70px;
}


button.add, button.good__delete{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, .2);
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.container{
    background: #f8f8f8;
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, .35);
    border-radius: 12px;
}


.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 15px;
}


th{
    cursor: pointer;
    padding: 15px;
    text-align: center;
}

tr{
    height: 30px;
}

td{
    padding: 15px;
    text-align: center;
}

.good, .price__good{
    display: flex;
    align-items: center;
    height: 60px;
}


